*{
  padding: 0;
  margin: 0;
  font-family: arial;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}


.main{

  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.container{
  display: flex;
  flex-direction: column;

  background-color: rgb(18, 18, 41);
  width: 380px;
  height: 370px;
  color: white;
  border: none;
  border-radius: 25px;

}
.start-and-que{
  margin-left: 25px;
}
.start-logo{
  margin-bottom: 35px;
  margin-top: 20px;
}

.btn{
  width: 50px;
  height:50px;
  background-color: rgb(45, 45, 82);
  border: none;
  border-radius: 25px;
  /* margin-right: 10px; */
  color: white;
  cursor: pointer;
}
.btn-p{
  width: 355px;
  display: flex;
  justify-content: space-between;
}

.btn:hover{
  background-color: white;
  color: black;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.text{
  width: 355px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 25px;
  margin-top: 8px;
  margin-bottom: 28px;
  color: rgb(100, 93, 93);
}

.Submit{
  padding: 10px 130px;
  border: none;
  border-radius: 25px;
  margin-top: 25px;
  cursor: pointer;
}